<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="description" content="" />
    <meta name="author" content="Cane" />

   	<title>Home page</title>
   	
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" th:href="@{/css/jumbotron-narrow.css}" />
</head>

<body>

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
      
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">Security</a>
	        </div>
	        
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
            	<a href="#" th:href="@{/}" role="menuitem">Home</a>
            </li>
           	<li sec:authorize="isAuthenticated()" >
	          	<a href="/user/id" th:href="@{/user/}+${currentUser.id}" role="menuitem">View myself</a>
	        </li>
			<li sec:authorize="hasAuthority('ADMIN')">
	          	<a href="/user/create" th:href="@{/user/create}" role="menuitem" th:title="#{Create a new user}">Create</a>
	        </li>
	        <li sec:authorize="hasAuthority('ADMIN')">
	          	<a href="/users" th:href="@{/users}" role="menuitem" th:title="#{View all users}">Show All</a>
	        </li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
	          <li sec:authorize="isAnonymous()">
	          	<a href="/login" th:href="@{/login}">Sign In</a>
	          </li>
	          <li sec:authorize="isAuthenticated()">
	          	<!-- <a href="#" data-toggle="modal" data-target="#logoutModal">logout</a> -->
	          	<a href="javascript: document.logoutForm.submit()">Sign Out</a>
	          	<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
	                <!-- <input th:hidden="true" type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> -->
	                <input th:hidden="true" type="submit" value="Sign Out" />
	            </form>
	          </li>
          </ul>
        </div>
        
      </div>
    </nav>
    
    <!-- logout modal -->
<!-- 	<div class="modal" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	        <h4>Log Out <i class="fa fa-lock"></i></h4>
	      </div>
	      <div class="modal-body">
	        <p><i class="fa fa-question-circle"></i> Are you sure you want to log-off? <br /></p>
	        <div class="actionsBtns">
	            <form th:action="@{/logout}" method="post">
	                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
	                <a href="/logout" th:href="@{/logout}" type="submit" class="btn btn-default btn-primary">Log out</a>
	                <input type="submit" class="btn btn-default btn-primary" data-dismiss="modal" value="Sign Out" />
	            </form>
	        </div>
	      </div>
	    </div>
	  </div>
	</div> -->
  	
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>